<div class="body-wrapper-card card">
	<div class="product-body">
		<div class="table-headings d-flex align-items-center gap-2 justify-content-between">
			<div class="table-search d-flex align-items-center gap-1">
				<i class='bx bx-search-alt mt-1'></i>
				<input type="text" class="form-control" name="searchProduct" #searchText
					placeholder="Search by name ..." (keyup)="searchProduct(searchText.value)">
			</div>
			<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->

			<button type="button" class="theme-ouline-button" (click)="openImportModal()">Import Product</button>
			<button type="button" class="theme-button" (click)="addProduct()">+ Add New</button>
		</div>
		<div class="product-table mt-1">
			<div class="d-flex gap-2">
				<div class="product tab-menu d-flex flex-column justify-content-between">
					<div class="product-tab d-flex flex-column">
						<div class="tab-menu-item d-flex align-items-center gap-1"
							[class.active]="selectedCategoryID == 0" (click)="getAllProduct(); selectedCategoryID = 0">
							All
							<span class="product-count all">{{allProductCount}}</span>
						</div>
						<div class="tab-menu-item d-flex align-items-center gap-1"
							[class.active]="selectedCategoryID == category.CategoryID"
							*ngFor="let category of lstCategory"
							(click)="getAllProductByCategoryID(category.CategoryID)">
							{{category.CategoryName}}
							<span class="product-count">{{category.ProductCount}}</span>
						</div>
					</div>
					<div class="table-row-count">
						<span class="txt-light font-11">Total Product:</span>
						{{totalCount}}
					</div>
				</div>
				<section class="table__body">
					<table>
						<thead>
							<tr>
								<th>SL.</th>
								<th>Product</th>
								<th>Desciption</th>
								<th>Category</th>
								<th>Brand</th>
								<th>Stock</th>
								<th>Purchase Price</th>
								<th>Selling Price</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let product of lstProduct; let i = index">
								<td>{{i+1}}</td>
								<td>
									<div class="d-flex gap-2">
										<img class="productImage" *ngIf="product.Image != ''"
											[src]="product.Image | SafeResourceUrl" alt="">
										<div class="d-flex flex-column">
											<div class="weight-600">{{product.ProductName}}</div>
											<div class="font-11">SKU: <span class="txt-light">{{product.SKU}}</span>
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="description-cell" [tooltip]="product.Description" container="body"
										[adaptivePosition]="false" placement="top" containerClass="tooltipClass">
										{{product.Description}}
									</div>
								</td>
								<td>{{product.CategoryName}}</td>
								<td>{{product.BrandName}}</td>
								<td [class.txt-danger]="product.Qty<=product.MinQty">{{product.Qty}}
									{{product.UnitName}}</td>
								<td>{{product.PurchasePrice | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
								<td>{{product.FinalPrice | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
								<td>
									<!-- <div class="badge" [class.inactive-badge]="product.Status == 2"
										[class.active-badge]="product.Status == 1">
										{{product.Status == 1 ? 'Active' : 'Inactive'}}
									</div> -->
									<div class="form-group">
										<label class="toggle">
											<input class="toggle__checkbox" type="checkbox" hidden
												(change)="changeProductStatus($event, product)"
												[checked]="product.Status == 1">
											<span class="toggle__switch"></span>
											<span class="toggle__label"></span>
										</label>
									</div>
								</td>
								<td>
									<div class="d-flex align-items-center gap-3 justify-content-end">
										<button type="button" class="action-button barcode" tooltip="Generate Barcode"
											containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
											(click)="generateBarcode(product.SKU)">
											<!-- <i class='bx bx-barcode font-18'></i> -->
											<i class="fa fa-barcode font-15" aria-hidden="true"></i>
										</button>
										<button type="button" class="action-button edit" tooltip="Edit"
											containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
											(click)="editProduct(product.Slug)">
											<i class='bx bxs-edit font-15'></i>
										</button>
										<button type="button" class="action-button delete" tooltip="Delete"
											containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
											(click)="deleteProduct(product)">
											<i class='bx bx-trash font-15'></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<!-- <div class="table-row-count">
				<span class="txt-light font-11">Total Row:</span>
				{{totalCount}}
			</div> -->
		</div>
	</div>
</div>


<!-- delete product -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Product</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this product?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>

<!-- import product -->
<ng-template #importModal>
	<!-- <div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Import Product</div> -->
	<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	<!-- </div> -->
	<div class="modal-body">
		<div class="ex-template-container">
			<div class="d-flex flex-column">
				<div class="weight-500 font-12 txt-secondary-theme letter-space-2">TEMPLATE</div>
				<div class="txt-light font-12 mt-1">Download the import template and add your items</div>
				<a href="assets/excel/Product_Import_Template.csv"
					class="secondary-theme-button ex-template-btn mt-2">Download Template</a>
			</div>
			<!-- <div class="text-center txt-light font-12">
				Download <a href="assets/excel/Product_Import_Template.csv" class="secondary-theme-link">Example
					Template</a>
				to import product.
			</div> -->
			<img src="assets/img/template-img.png" alt="">
		</div>

		<div class="file-uploader mt-3">
			<input type="file" hidden #importFile name="csv-upload" id="product-csv" accept=".xlsx,.csv"
				(change)="uploadCsv(importFile.files)">
			<label for="product-csv" class="w-100">
				<div class="file-upload-browser">
					<div *ngIf="!fileName" class="d-flex flex-column gap-1">
						<i class="bx bx-cloud-upload font-30 weight-300"></i>
						<span>Choose files to import</span>
					</div>
					<span *ngIf="fileName" class="txt-theme">{{fileName}}</span>
				</div>
				<div class="button-group d-flex gap-1">
					<button type="button" class="secondary-theme-button" (click)="clickUploadBtn()"
						[disabled]="dataService.isFormSubmitting | async">Upload</button>
					<button type="button" class="cancel-button" (click)="closeImportModal()">Cancel</button>
				</div>
			</label>
		</div>
		<!-- <button type="button" class="cancel-button" (click)="closeImportModal()">Cancel</button> -->
		<ng-container *ngIf="lstProductImportReport!.length > 0">
			<div class="font-13 weight-500 mt-2 mb-1">Product import report</div>
			<section class="table__body importReport">
				<table>
					<thead>
						<tr>
							<th>SL.</th>
							<th>Product</th>
							<th>Status</th>
							<th>Reason</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let report of lstProductImportReport; let i = index">
							<td>{{i+1}}</td>
							<td>
								{{report.ProductName}}
							</td>
							<td>
								<div class="badge" [class.import-failed]="report.Status == 2"
									[class.import-success]="report.Status == 1"
									[class.import-warning]="report.Status == 3">
									{{(report.Status == 2) ? 'Failed' : 'Issued'}}
								</div>
							</td>
							<td>{{report.StatusReason}}</td>
						</tr>
					</tbody>
				</table>
			</section>
		</ng-container>
	</div>
	<!-- <div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div> -->
</ng-template>