header {
    height: 60px;
    width: calc(100vw - 250px);
    position: fixed;
    left: 250px;
    top: 0;
    background: var(--white-color);
    box-shadow: 0 1px 5px #00000015;
    /* z-index: 1; */
    transition: all 0.3s ease;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section {
    padding: 10px 20px;
    font-size: var(--font-13);
    font-weight: var(--weight-600);
    color: var(--theme-color);
    text-transform: capitalize;
}

.pos-button {
    border: none;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--secondary-theme-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.pos-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pos-button:hover i {
    transform: translate(-50%, -50%) scale(1.1);
}

/* after toggle sidebar css  (start) */
:host.toggled-header {
    & header {
        width: calc(100vw - 60px);
        left: 60px;
    }
}

/* after toggle sidebar css (end) */
.branch-section {
    display: flex;
    align-items: center;
    gap: var(--gap-10);
    font-weight: var(--weight-500);
    color: var(--bs-gray-600);
    border: 2px solid var(--light-secondary-theme-color);
    border-radius: 20px;
    height: 26px;
    position: relative;
    background: var(--light-secondary-theme-color);
    padding-left: 35px;
    padding-right: 25px;
    box-shadow: 0 0px 4px #00000015;
}

.branch-section .icon {
    width: 24px;
    height: 24px;
    background: var(--secondary-theme-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.branch-section .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    line-height: normal;
}

.branch-more-ico {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    line-height: normal;
    /* position: absolute;
    right: 2px;
    top: 3px; */
    color: var(--light-text-color);
    cursor: pointer;
}

.branch-more-ico:hover {
    color: var(--theme-color);
}

.btn-group.branch {
    position: absolute;
    right: 2px;
    top: 3px;
    width: auto !important;
}

.hold-sales-ico {
    color: var(--theme-color);
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.hold-sales-ico.active,
.hold-sales-ico:hover {
    color: var(--secondary-theme-color);
}

.dropdown-menu.hold {
    width: max-content;
}