header {
    height: 60px;
    width: calc(100vw - 250px);
    position: fixed;
    left: 250px;
    top: 0;
    background: var(--white-color);
    box-shadow: 0 0px 2px #00000015;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-section {
    padding: 10px 20px;
    font-size: var(--font-13);
    color: var(--secondary-theme-color);
    text-transform: capitalize;
}

.pos-button {
    border: none;
    display: block;
    width: 60px;
    height: 60px;
    background: var(--secondary-theme-color);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.pos-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pos-button:hover i {
    transform: translate(-50%, -50%) scale(1.1);
}