.button-wrapper {
    display: flex;
    align-items: center;
    gap: var(--gap-10);
}

.role-edit {
    background: transparent !important;
    box-shadow: none !important;

}

.role-edit:hover i {
    color: var(--secondary-theme-color);
}