button {
    border: none;
    outline: none;
    padding: 5px 15px !important;
    font-weight: var(--weight-700) !important;
    line-height: normal !important;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase !important;
}

button:disabled {
    opacity: .5 !important;
    cursor: not-allowed;
}

.theme-button {
    background: var(--theme-color);
    color: var(--white-color);
    border-radius: 4px;
}

.theme-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.secondary-theme-button {
    background: var(--secondary-theme-color);
    color: var(--theme-color);
    border-radius: 4px;
    font-weight: var(--weight-500);
}

.secondary-theme-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}