button {
    border: none;
    outline: none !important;
    padding: 5px 15px !important;
    font-weight: var(--weight-500) !important;
    font-size: var(--font-12) !important;
    line-height: normal !important;
    cursor: pointer !important;
    transition: all 0.3s ease;
    text-transform: uppercase !important;
    border-radius: 4px !important;
}

button:disabled {
    opacity: .5 !important;
    cursor: not-allowed !important;
}

.theme-button {
    background: var(--theme-color);
    color: var(--white-color);
    border: 1px solid var(--theme-color);
}

.theme-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.theme-ouline-button {
    color: var(--theme-color);
    background: var(--white-color);
    border: 1px solid var(--theme-color);
}

.theme-ouline-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.cancel-button {
    background: var(--border-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.cancel-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.secondary-theme-button {
    background: var(--secondary-theme-color);
    color: var(--theme-color);
    border: 1px solid var(--secondary-theme-color);
}

.secondary-theme-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.secondary-theme-outline-button {
    color: var(--secondary-theme-color);
    background: var(--white-color);
    border: 1px solid var(--secondary-theme-color);
}

.secondary-theme-outline-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.success-button {
    background: var(--success-color);
    border: 1px solid var(--success-color);
    color: var(--white-color);
}

.success-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.danger-button {
    background: var(--danger-color);
    border: 1px solid var(--danger-color);
    color: var(--white-color);
}

.danger-button:hover {
    opacity: .9;
    box-shadow: 0 1px 3px #00000025 !important;
}

.action-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0;
    background: none;
}

.action-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light-text-color);
    transition: all 0.3s ease;
}

.action-button:hover {
    background: #39c5f817;
    box-shadow: 0 2px 5px #00000025;
}

.action-button:hover i {
    color: var(--theme-color);
}

.offcanvas-close-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background: var(--light-border-color);
    padding: 0 !important;
}

.offcanvas-close-btn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offcanvas-close-btn:hover {
    background: var(--border-color);
    box-shadow: 0 2px 2px #00000025;
}

.removeFromList-btn {
    background: var(--danger-color);
    border-radius: 4px;
    width: 26px;
    height: 26px;
    border: none;
    /* overflow: none; */
    position: relative;
}

.removeFromList-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.removeFromList-btn:hover {
    opacity: .7;
}


.number-field-btn {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 33px;
    padding: 0 !important;
    background: var(--bs-gray-100);
    font-size: var(--font-20) !important;
    font-weight: var(--weight-400) !important;
    border: 1px solid #e0e0e0;
}

.number-field-btn.minus {
    left: 0;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    /* border-right: 1px solid #e0e0e0; */
}

.number-field-btn.plus {
    right: -28px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    /* border-left: 1px solid #e0e0e0; */
}

.number-field-btn.plus i {
    padding: 6px;
    color: var(--light-text-color);
    transition: all 0.3s ease;
}

.number-field-btn.plus:hover i {
    color: var(--theme-color);
}