:root {
    --theme-color: #0b3353;
    --secondary-theme-color: #39c5f8;
    --light-secondary-theme-color: #39c5f825;
    --light-theme-color: #E3EAFF;

    --body-color: #F8F9FF;
    --text-color: #1e1e20;
    --white-color: #fff;

    --primary-color: #45a7e7;
    --success-color: #67be4e;
    --danger-color: #FC2947;
    --warning-color: #ffc825;
    --info-color: #a572ff;

    --light-primary-color: #45a7e725;
    --light-success-color: #67be4e25;
    --light-danger-color: #FC294725;
    --light-warning-color: #ffc82525;
    --light-info-color: #a572ff25;

    --border-color: #e0e0e0;
    --light-border-color: #e0e0e08c;
    --light-text-color: #a5a5a5;
    --thead-color: #e9ecef;
}

.txt-white {
    color: var(--white-color) !important;
}

.txt-light {
    color: var(--light-text-color) !important;
}

.txt-secondary-theme {
    color: var(--secondary-theme-color) !important;
}

.txt-theme {
    color: var(--theme-color) !important;
}

.txt-danger {
    color: var(--danger-color) !important;
}

.txt-success {
    color: var(--success-color) !important;
}

.txt-primary {
    color: var(--primary-color) !important;
}

.success-bg {
    background: var(--light-success-color) !important;
}

.danger-bg {
    background: var(--light-danger-color) !important;
}