button {
    padding: 3px 20px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    outline: none !important;
    box-shadow: none !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-text);
}

h1.active,
h2.active,
h3.active,
h4.active,
h5.active,
h6.active {
    color: var(--secondary-theme-color);
}

p {
    color: var(--body-text);
    font-size: var(--font-13);
    font-weight: var(--weight-400);
}

a.theme-link {
    color: var(--theme-color);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

a.theme-link:hover {
    text-decoration: underline;
}

table,
tr td {
    padding: 5px 10px;
}

thead tr td:not(:last-child) {
    border-right: 1px solid var(--border-color);
}

tr td:not(:last-child) {
    border-right: 1px solid var(--thead-color);
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--thead-color);
}

tbody {
    display: block;
    height: 100%;
    /* width: calc(100% - 7px); */
    overflow-y: overlay;
    /* position: relative; */
}

tbody tr {
    height: 35px;
    font-weight: var(--weight-400);
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    position: relative;
    /* width: calc(100% - 7px); */
    height: 30px;
    text-transform: uppercase;
    border-radius: 4px;
    background: var(--thead-color);
    color: var(--light-text-color);
    font-size: var(--font-11);
    font-weight: var(--weight-700);
}

table {
    width: 100%;
}

.tooltipClass {
    font-size: var(--font-11) !important;
}

.body-wrapper-card {
    height: calc(100vh - 80px);
    background: var(--white-color);
    border-radius: 6px !important;
    border: none !important;
    box-shadow: 0 1px 2px #00000015;
}

.body-wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    height: 100%;
    font-size: var(--font-12);
}

.wrapper-menu {
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.wrapper-menu a {
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    font-size: var(--font-12);
    font-weight: var(--weight-500);
    color: var(--theme-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper-menu a:hover {
    color: var(--secondary-theme-color);
    transform: scale(.98);
}

.wrapper-menu a.active {
    color: var(--secondary-theme-color);
    background: #39c5f815;
}

.wrapper-menu a.active::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 6px 0 0 6px;
    background: var(--secondary-theme-color);
}

.wrapper-content {
    padding: 10px 20px;
    padding-bottom: 0;
}

.wrapper-content-header {
    font-size: var(--font-13);
    font-weight: var(--weight-500);
    border-bottom: 1px solid #e0e0e035;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

/* __________offcanvas style start___________ */

.offcanvas.show {
    visibility: visible;
    width: 30%;
}

.offcanvas-start {
    box-shadow: 0 5px 10px #00000025;
    right: 0;
    top: 60px !important;
    left: auto !important;
    width: 0;
    border: none !important;
    transform: translateX(100%);
}

.offcanvas-title {
    width: 75%;
}

.offcanvas-header {
    border-bottom: 1px solid var(--light-border-color);
    padding: 10px 20px !important;
}

.offcanvas-body {
    flex-grow: 0 !important;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: unset;
    padding: 10px 20px !important;
}

.offcanvas-footer {
    padding: 10px 20px;
    border-top: 1px solid var(--border-color);
    text-align: right;
    /* temporary  */
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0;
    right: 0;
}

.offcanvas-footer button:not(:last-child) {
    margin-right: 15px;
}

/* _________offcanvas style end___________ */
.badge {
    font-weight: 500 !important;
    font-size: var(--font-10) !important;
}

.active-badge,
.success-badge {
    color: var(--success-color) !important;
    background: var(--light-success-color);
}

.inactive-badge,
.danger-badge {
    color: var(--danger-color) !important;
    background: var(--light-danger-color);
}