<div class="body-wrapper-card card">
	<div class="purchase-body">
		<div class="table-headings d-flex align-items-center justify-content-between">
			<div class="table-search d-flex align-items-center gap-1">
				<i class='bx bx-search-alt mt-1'></i>
				<input type="text" class="form-control" name="searchPurchase" #searchText
					placeholder="Search by purchase code ..." (keyup)="searchPurchase(searchText.value)">
			</div>
			<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->
			<button type="button" class="theme-button" (click)="addPurchase()">+ Add New</button>
		</div>
		<div class="purchase-table mt-1">
			<section class="table__body">
				<table>
					<thead>
						<tr>
							<th>SL.</th>
							<th>Purchase Date</th>
							<th>Purchase Code</th>
							<th>Product</th>
							<th>Purchase Status</th>
							<th>Supplier</th>
							<th>Total</th>
							<th>Paid</th>
							<th>Due</th>
							<th>Payment Status</th>
							<th>Created By</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let purchase of lstPurchase; let i = index">
							<td>{{i+1}}</td>
							<td>
								<div class="d-flex flex-column">
									<span>{{purchase.PurchaseDate | date: 'dd/MM/yyyy'}}</span>
									<span class="txt-light">{{purchase.PurchaseDate | date: 'hh:mm a'}}</span>
								</div>
							</td>
							<td>
								<div class="weight-600">
									{{purchase.PurchaseCode}}
								</div>
							</td>
							<td>
								<div class="d-flex align-items-center gap-3">
									<span>{{purchase.lstProduct.length}}</span>
									<div class="btn-group" dropdown container="body" #dropdownProduct="bs-dropdown"
										[insideClick]="true">
										<div dropdownToggle class="show-all-product" id="product"
											aria-controls="dropdown-basic">
											<i class='bx bx-detail font-17'></i>
										</div>
										<div id="dropdown-basic" *dropdownMenu class="dropdown-menu product-list-drop"
											aria-labelledby="product">
											<ul class="dropdown-ul">
												<li class="dropdown-item purchase-product-item"
													*ngFor="let product of purchase.lstProduct">
													<div class="d-flex gap-2">
														<img class="productImage" *ngIf="product.Image != ''"
															[src]="product.Image| SafeResourceUrl" alt="">
														<div class="d-flex flex-column">
															<div class="weight-600">{{product.ProductName}}</div>
															<div class="font-11">SKU: <span
																	class="txt-light">{{product.SKU}}</span>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- <div class="purchase-product" *ngIf="purchase.lstProduct.length > 0">
									<div class="purchase-product-item" *ngFor="let product of purchase.lstProduct">
										<div class="d-flex gap-2">
											<img class="productImage" *ngIf="product.Image != ''"
												[src]="product.Image| SafeResourceUrl" alt="">
											<div class="d-flex flex-column">
												<div class="weight-600">{{product.ProductName}}</div>
												<div class="font-11">SKU: <span class="txt-light">{{product.SKU}}</span>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</td>
							<td>{{purchase.PurchaseStatus}}</td>
							<td>{{purchase.SupplierName}}</td>
							<td>{{purchase.TotalPurchasePrice | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>{{purchase.PaymentAmount | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>{{purchase.DueAmount | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>
								<div class="badge" [class.danger-badge]="purchase.PaymentStatus == 'Unpaid'"
									[class.success-badge]="purchase.PaymentStatus == 'Paid'"
									[class.warning-badge]="purchase.PaymentStatus == 'Partial'">
									{{purchase.PaymentStatus}}
								</div>
							</td>
							<td>{{purchase.CreatedByName}}</td>
							<td>
								<div class="d-flex align-items-center gap-2 justify-content-end">
									<button type="button" class="action-button view" tooltip="View"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="viewPurchase(purchase.PurchaseCode)">
										<i class='bx bx-show-alt font-15'></i>
									</button>
									<button type="button" class="action-button edit" tooltip="Edit"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="editPurchase(purchase.PurchaseCode)">
										<i class='bx bxs-edit font-15'></i>
									</button>
									<button type="button" class="action-button delete" tooltip="Delete"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="deletePurchase(purchase)">
										<i class='bx bx-trash font-15'></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<div class="table-row-count">
				<span class="txt-light font-11">Total Row:</span>
				{{totalCount}}
			</div>
		</div>
	</div>
</div>


<!-- delete purchase -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Purchase</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this purchase?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>