<div class="system-user-body">
	<div class="table-headings d-flex align-items-center justify-content-between">
		<div class="table-search d-flex align-items-center gap-1">
			<i class='bx bx-search-alt mt-1'></i>
			<input type="text" class="form-control" name="searchSystemUser" placeholder="Search by name, username, phone, email etc ...">
		</div>
		<button type="button" class="theme-button font-10 weight-500" (click)="createUser()">+ Add New</button>
	</div>
	<div class="system-user-table">
		<table>
			<thead>
				<tr>
					<td>Full Name</td>
					<td >Username</td>
					<td>Role</td>
					<td>Phone Number</td>
					<td>Email</td>
					<td class="w-10"></td>
					<!-- <td>Address</td>
					<td class="w-8">City</td>
					<td class="w-8">State</td>
					<td class="w-8">Zip</td> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let systemUser of lstSystemUser">
					<td>{{systemUser.FullName}}</td>
					<td >{{systemUser.Username}}</td>
					<td>{{systemUser.RoleID}}</td>
					<td>{{systemUser.PhoneNumber}}</td>
					<td>{{systemUser.Email}}</td>
					<td class="w-10">
						<div class="d-flex align-items-center gap-3 justify-content-end">
							<button type="button" class="action-button edit" tooltip="Edit" containerClass="tooltipClass" placement="top" [adaptivePosition]="false">
								<i class='bx bxs-edit font-15'></i>
							</button>
							<button type="button" class="action-button delete" tooltip="Delete" containerClass="tooltipClass" placement="top" [adaptivePosition]="false">
								<i class='bx bx-trash font-15'></i>
							</button>
						</div>
					</td>
					<!-- <td>{{systemUser.Address}}</td>
					<td class="w-8">{{systemUser.City}}</td>
					<td class="w-8">{{systemUser.State}}</td>
					<td class="w-8">{{systemUser.Zip}}</td> -->
				</tr>
			</tbody>
		</table>
		<div class="table-row-count">
			<span class="txt-light font-11">Total Row:</span>
			{{totalCount}}
		</div>
	</div>
</div>