<div class="system-user-body">
	<div class="table-headings d-flex align-items-center justify-content-between">
		<div class="table-search d-flex align-items-center gap-1">
			<i class='bx bx-search-alt mt-1'></i>
			<input type="text" class="form-control" name="searchSystemUser" #searchText
				placeholder="Search by name, username, phone, email etc ..."
				(keyup)="searchSystemUser(searchText.value)">
		</div>
		<!-- <div class="d-flex align-items-center gap-2">
			<div class="filter-search role-filter">
				<select name="roleFilter" id="roleFilter">
					<option [value]="0">All</option>
					<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
				</select>
			</div>
			<div class="filter-search status-filter">
				<select name="statusFilter" id="statusFilter">
					<option [value]="0">All</option>
					<option [value]="1">Active</option>
					<option [value]="2">Inactive</option>
				</select>
			</div>
		</div> -->
		<button type="button" class="theme-button" (click)="createUser({})">+ Add New</button>
	</div>
	<div class="system-user-table">
		<table class="gen-pos">
			<thead>
				<tr>
					<td>Full Name</td>
					<td class="w-15">Username</td>
					<td>Phone & Email</td>
					<td>Address</td>
					<td class="w-10">Role</td>
					<!-- <td>Email</td> -->
					<td class="w-10">Status</td>
					<td class="w-10"></td>
					<!-- <td>Address</td>
					<td class="w-8">City</td>
					<td class="w-8">State</td>
					<td class="w-8">Zip</td> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let systemUser of lstSystemUser">
					<td>{{systemUser.FullName}}</td>
					<td class="w-15">{{systemUser.Username}}</td>
					<td>
						<div class="d-flex flex-column">
							<span>{{systemUser.PhoneNumber}}</span>
							<span class="txt-light">{{systemUser.Email}}</span>
						</div>
					</td>
					<td>
						<div class="d-flex flex-column">
							<span>{{systemUser.Address}}</span>
							<span>{{getAddress(systemUser.City, systemUser.State, systemUser.Zip)}}</span>
						</div>
					</td>
					<td class="w-10">{{getRoleName(systemUser.RoleID)}}</td>
					<!-- <td>{{systemUser.Email}}</td> -->
					<td class="w-10">
						<div class="badge" [class.inactive-badge]="systemUser.Status == 2"
							[class.active-badge]="systemUser.Status == 1">
							{{systemUser.Status == 1 ? 'Active' : 'Inactive'}}
						</div>
					</td>
					<td class="w-10">
						<div class="d-flex align-items-center gap-3 justify-content-end">
							<button type="button" class="action-button edit" tooltip="Edit"
								containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
								(click)="createUser(systemUser)">
								<i class='bx bxs-edit font-15'></i>
							</button>
							<button type="button" class="action-button delete" tooltip="Delete"
								containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
								(click)="deleteUser(systemUser)">
								<i class='bx bx-trash font-15'></i>
							</button>
						</div>
					</td>
					<!-- <td>{{systemUser.Address}}</td>
					<td class="w-8">{{systemUser.City}}</td>
					<td class="w-8">{{systemUser.State}}</td>
					<td class="w-8">{{systemUser.Zip}}</td> -->
				</tr>
			</tbody>
		</table>
		<div class="table-row-count">
			<span class="txt-light font-11">Total Row:</span>
			{{totalCount}}
		</div>
	</div>
</div>

<!-- add & edit system user details -->
<ng-template #systemUserForm></ng-template>

<!-- delete system user -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete System User</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this user?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>