<div class="account-body">
		<div class="table-headings d-flex align-items-center justify-content-between">
			<div class="table-search d-flex align-items-center gap-1">
				<i class='bx bx-search-alt mt-1'></i>
				<input type="text" class="form-control" name="searchAccount" #searchText
					placeholder="Search by name ..." (keyup)="searchAccount(searchText.value)">
			</div>
			<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->
			<button type="button" class="theme-button" (click)="createAccount()">+ Add New</button>
		</div>
		<div class="account-table mt-1">
			<table class="gen-pos">
				<thead>
					<tr>
						<td class="w-5">SL.</td>
						<td class="w-12">Account Title</td>
						<td>Account Number</td>
						<td class="w-10">Balance</td>
						<td class="w-10">Expense</td>
						<td class="w-10">Remaining</td>
						<td>Description</td>
						<td class="w-8">Status</td>
						<td class="w-16"></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let account of lstAccount; let i = index">
						<td class="w-5">{{i+1}}</td>
						<td class="w-12">{{account.AccountTitle}}</td>
						<td>{{(account.AccountNumber && account.AccountNumber != '') ? account.AccountNumber : '-'}}
						</td>
						<td class="w-10">{{account.Balance | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
						<td class="w-10">
							<span [class.txt-danger]="account.Expense > 0">{{(account.Expense > 0) ? (account.Expense | currency:'BDT':'symbol':'1.2-2':'bn-BD') : '-'}}</span>
						</td>
						<td class="w-10">
							<span class="txt-success">{{account.CurrentBalance | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</span>
						</td>
						<td>{{(account.Description && account.Description != '') ? account.Description : '-'}}</td>
						<td class="w-8">
							<div class="badge" [class.inactive-badge]="account.Status == 2"
								[class.active-badge]="account.Status == 1">
								{{account.Status == 1 ? 'Active' : 'Inactive'}}
							</div>
						</td>
						<td class="w-16">
							<div class="d-flex align-items-center gap-1 justify-content-end">
								<button *ngIf="account.Status == 1" type="button" class="action-button addBalance" tooltip="Show Statement"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="showAccountStatement(account)">
									<i class='bx bx-info-circle font-15'></i>
								</button>
								<button *ngIf="account.Status == 1" type="button" class="action-button addBalance" tooltip="Add Balance"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="balanceModalOpen(account)">
									<i class='bx bx-wallet font-15'></i>
								</button>
								<button type="button" class="action-button edit" tooltip="Edit"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="editAccount(account)">
									<i class='bx bxs-edit font-15'></i>
								</button>
								<button type="button" class="action-button delete" tooltip="Delete"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="deleteAccount(account)">
									<i class='bx bx-trash font-15'></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="table-row-count">
				<span class="txt-light font-11">Total Row:</span>
				{{totalCount}}
			</div>
		</div>
</div>

<!-- show account details statement sidebar -->
<ng-template #statementSidebar></ng-template>

<!-- add & edit account -->
<ng-template #accountFormModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">{{modalTitle}} Account</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<form autocomplete="off" #accountForm="ngForm" (ngSubmit)="accountForm.form.valid && saveAccount()" novalidate>
		<div class="modal-body">
			<div class="form-group">
				<label for="accountTitle" class="form-label">Account Title <span class="txt-danger">*</span></label>
				<input type="text" name="accountTitle" id="accountTitle" class="form-control"
					[(ngModel)]="objAccount.AccountTitle" placeholder="Enter account title" required
					#accountTitle="ngModel" [ngClass]="{ 'is-invalid': accountForm.submitted && accountTitle.errors }">
				<div *ngIf="accountTitle.errors && (accountTitle.dirty || accountForm.submitted) && accountTitle.invalid"
					class="invalid-feedback">
					<div *ngIf="accountTitle.errors['required']">Account title is required</div>
				</div>
			</div>
			<div class="form-group mt-2">
				<label for="accountNumber" class="form-label">Account Number</label>
				<input type="text" name="accountNumber" id="accountNumber" class="form-control"
					[(ngModel)]="objAccount.AccountNumber" placeholder="Enter account number" [minlength]="11"
					[maxlength]="20" (input)="numbersOnlyValidator($event)">
			</div>
			<!-- <div class="form-group mt-2">
				<label for="accounBalance" class="form-label">Balance</label>
				<input type="text" name="accounBalance" id="accounBalance" class="form-control" [(ngModel)]="objAccount.Balance"
					placeholder="Enter account balance" (input)="numbersOnlyValidator($event); emptyCheck($event)">
			</div> -->
			<div class="form-group mt-2">
				<label for="accountDesc" class="form-label">Description</label>
				<textarea type="text" name="accountDesc" id="accountDesc" class="form-control"
					[(ngModel)]="objAccount.Description" placeholder="Enter account description"></textarea>
			</div>
			<div class="row mt-3">
				<div class="col-md-6">
					<div class="form-group">
						<label class="toggle">
							<input class="toggle__checkbox" type="checkbox" (change)="toggleStatus($event)"
								[checked]="objAccount.Status == 1">
							<span class="toggle__switch"></span>
							<span class="toggle__label">{{(objAccount.Status == 1) ? 'Active' : 'Inactive'}}</span>
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="cancel-button" (click)="modalRef?.hide()">Cancel</button>
			<button type="submit" [disabled]="dataService.isFormSubmitting | async"
				class="theme-button">{{buttonText}}</button>
		</div>
	</form>
</ng-template>

<!-- delete account -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Account</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this account?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>

<!-- add balance -->
<ng-template #balanceModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Add Balance</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<form autocomplete="off" #addBalanceForm="ngForm" (ngSubmit)="addBalanceForm.form.valid && addBalance()">

		<div class="modal-body">
			<div class="form-group mt-2">
				<label for="accounBalance" class="form-label">Balance</label>
				<input type="number" name="accounBalance" id="accounBalance" class="form-control" placeholder="00.00"
					[value]="0" (input)="balanceEntry(accountBalance.value)" required #accountBalance>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="cancel-button" (click)="modalRef?.hide()">Cancel</button>
			<button type="submit" [disabled]="(dataService.isFormSubmitting | async) || (accountBalance.valueAsNumber == 0 || accountBalance.value == '')" class="success-button">Add</button>
		</div>
	</form>
</ng-template>