<div class="body-wrapper-card card">
	<div class="account-body">
		<div class="table-headings d-flex align-items-center justify-content-between">
			<div class="table-search d-flex align-items-center gap-1">
				<i class='bx bx-search-alt mt-1'></i>
				<input type="text" class="form-control" name="searchAccount" #searchText placeholder="Search by name ..."
					(keyup)="searchAccount(searchText.value)">
			</div>
			<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->
			<button type="button" class="theme-button" (click)="createAccount()">+ Add New</button>
		</div>
		<div class="account-table mt-1">
			<table class="gen-pos">
				<thead>
					<tr>
						<td class="w-5">SL.</td>
						<td>Account Title</td>
						<td>Account Number</td>
						<td>Balance</td>
						<td>Description</td>
						<td class="w-10">Status</td>
						<td class="w-10"></td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let account of lstAccount; let i = index">
						<td class="w-5">{{i+1}}</td>
						<td>{{account.AccountTitle}}</td>
						<td>{{(account.AccountNumber && account.AccountNumber != '') ? account.AccountNumber : '-'}}</td>
						<td>{{account.Balance}}</td>
						<td>{{(account.Description && account.Description != '') ? account.Description : '-'}}</td>
						<td class="w-10">
							<div class="badge" [class.inactive-badge]="account.Status == 2"
								[class.active-badge]="account.Status == 1">
								{{account.Status == 1 ? 'Active' : 'Inactive'}}
							</div>
						</td>
						<td class="w-10">
							<div class="d-flex align-items-center gap-3 justify-content-end">
								<button type="button" class="action-button edit" tooltip="Edit"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="editAccount(account)">
									<i class='bx bxs-edit font-15'></i>
								</button>
								<button type="button" class="action-button delete" tooltip="Delete"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="deleteAccount(account)">
									<i class='bx bx-trash font-15'></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="table-row-count">
				<span class="txt-light font-11">Total Row:</span>
				{{totalCount}}
			</div>
		</div>
	</div>
</div>

<!-- add & edit account -->
<ng-template #accountFormModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">{{modalTitle}} Account</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<form autocomplete="off" #accountForm="ngForm" (ngSubmit)="accountForm.form.valid && saveAccount()" novalidate>
		<div class="modal-body">
			<div class="form-group">
				<label for="accountTitle" class="form-label">Account Title <span class="txt-danger">*</span></label>
				<input type="text" name="accountTitle" id="accountTitle" class="form-control" [(ngModel)]="objAccount.AccountTitle"
					placeholder="Enter account title" required #accountTitle="ngModel"
					[ngClass]="{ 'is-invalid': accountForm.submitted && accountTitle.errors }">
				<div *ngIf="accountTitle.errors && (accountTitle.dirty || accountForm.submitted) && accountTitle.invalid"
					class="invalid-feedback">
					<div *ngIf="accountTitle.errors['required']">Account title is required</div>
				</div>
			</div>
			<div class="form-group mt-2">
				<label for="accountNumber" class="form-label">Account Number</label>
				<input type="text" name="accountNumber" id="accountNumber" class="form-control" [(ngModel)]="objAccount.AccountNumber"
					placeholder="Enter account number" [minlength]="11" [maxlength]="20" (input)="numbersOnlyValidator($event)">
			</div>
			<div class="form-group mt-2">
				<label for="accounBalance" class="form-label">Balance</label>
				<input type="text" name="accounBalance" id="accounBalance" class="form-control" [(ngModel)]="objAccount.Balance"
					placeholder="Enter account balance" (input)="numbersOnlyValidator($event); emptyCheck($event)">
			</div>
			<div class="form-group mt-2">
				<label for="accountDesc" class="form-label">Description</label>
				<textarea type="text" name="accountDesc" id="accountDesc" class="form-control"
					[(ngModel)]="objAccount.Description" placeholder="Enter account description"></textarea>
			</div>
			<div class="row mt-3">
				<div class="col-md-6">
					<div class="form-group">
						<label class="toggle">
							<input class="toggle__checkbox" type="checkbox" (change)="toggleStatus($event)"
								[checked]="objAccount.Status == 1">
							<span class="toggle__switch"></span>
							<span class="toggle__label">{{(objAccount.Status == 1) ? 'Active' : 'Inactive'}}</span>
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="cancel-button" (click)="modalRef?.hide()">Cancel</button>
			<button type="submit" class="theme-button">{{buttonText}}</button>
		</div>
	</form>
</ng-template>

<!-- delete account -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Account</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this account?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>