<div class="auth-wrapper">
	<div class="auth-left">
		<div class="auth-left-content">
			<img src="assets/img/logo.png" alt="">
			<p class="mt-5">With the growing popularity of contactless payments, a POS system that supports mobile
				payments and other digital payment methods can help attract customers who prefer this convenient and
				secure option.</p>
			<button type="button" class="secondary-theme-button mt-5" [routerLink]="['/login']">
				Login here
			</button>
		</div>
	</div>
	<div class="auth-right">
		<div class="auth-form">
			<h4 class="txt-theme weight-700 mb-0">Register</h4>
			<p class="font-13">Create an account for access <span class="txt-secondary-theme weight-500">Generation
					POS</span></p>
			<form class="mt-3" autocomplete="off" #registerForm="ngForm"
				(ngSubmit)="registerForm.form.valid && register()" novalidate
				[appMatchPassword]="['password', 'confirmPassword']">
				<div class="form-group">
					<label for="fullname" class="form-label">Full Name <span class="txt-danger">*</span></label>
					<input type="text" id="fullname" name="fullname" class="form-control" placeholder="Enter fullname"
						[(ngModel)]="objVmRegister.FullName" required #fullName="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && fullName.errors }">
					<div *ngIf="fullName.errors && (fullName.dirty || registerForm.submitted) && fullName.invalid"
						class="invalid-feedback">
						<div *ngIf="fullName.errors['required']">Full name is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="phone" class="form-label">Phone Number <span class="txt-danger">*</span></label>
					<input type="text" id="phone" name="phone" class="form-control" placeholder="Enter phone number"
						[(ngModel)]="objVmRegister.PhoneNumber" #phoneNumber="ngModel" maxlength="11" [ngClass]="{ 'is-invalid': registerForm.submitted && phoneNumber.errors }"
						(input)="numbersOnlyValidator($event)" required>
						<div *ngIf="phoneNumber.errors && (phoneNumber.dirty || registerForm.submitted) && phoneNumber.invalid"
							class="invalid-feedback">
							<div *ngIf="phoneNumber.errors['required']">
								Phone number is required
							</div>
							<div *ngIf="phoneNumber.errors['minlength'] || phoneNumber.errors['maxlength']">
								Phone number must be at 11 digit
							</div>
						</div>
				</div>
				<div class="form-group">
					<label for="email" class="form-label">Email <span class="txt-danger">*</span></label>
					<input type="email" id="email" name="email" class="form-control" placeholder="Enter email address"
						[(ngModel)]="objVmRegister.Email" required email #email="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && email.errors }">
						<div *ngIf="email.errors && (email.dirty || registerForm.submitted) && email.invalid"
							class="invalid-feedback">
							<div *ngIf="email.errors['required']">Email is required</div>
							<div *ngIf="email.errors['email']">Email is invalid</div>
						</div>
				</div>
				<div class="form-group">
					<label for="address" class="form-label">Address <span class="txt-danger">*</span></label>
					<input type="text" id="address" name="address" class="form-control" placeholder="Enter address"
						[(ngModel)]="objVmRegister.Address" required #address="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && address.errors }">
						<div *ngIf="address.errors && (address.dirty || registerForm.submitted) && address.invalid"
						class="invalid-feedback">
						<div *ngIf="address.errors['required']">Address is required</div>
					</div>
				</div>
				<div class="address-block">
					<div class="form-group">
						<label for="city" class="form-label">City</label>
						<input type="text" id="city" name="city" class="form-control" placeholder="Enter city"
							[(ngModel)]="objVmRegister.City">
					</div>
					<div class="form-group">
						<label for="state" class="form-label">State</label>
						<input type="text" id="state" name="state" class="form-control" placeholder="Enter state"
							[(ngModel)]="objVmRegister.State">
					</div>
					<div class="form-group">
						<label for="zip" class="form-label">Zip</label>
						<input type="text" id="zip" name="zip" class="form-control" placeholder="Enter zip"
							[(ngModel)]="objVmRegister.Zip">
					</div>
				</div>
				<div class="form-group">
					<label for="username" class="form-label">Username <span class="txt-danger">*</span></label>
					<input type="text" id="username" name="username" class="form-control" placeholder="Enter username"
						[(ngModel)]="objVmRegister.Username" required maxlength="20" #username="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && username.errors }">
						<div *ngIf="registerForm.submitted && username.errors" class="invalid-feedback">
							<div *ngIf="username.errors['required']">Username is required</div>
							<div *ngIf="username.errors['maxlength']">
								Username must be at most 20 characters
							</div>
						</div>
				</div>
				<div class="form-group ico">
					<label for="password" class="form-label">Password <span class="txt-danger">*</span></label>
					<input [type]="isPasswordShow ? 'text' : 'password'" name="password" id="password" class="form-control"
						placeholder="****" [(ngModel)]="objVmRegister.Password" required
						minlength="4" maxlength="40" #password="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && password.errors }">
					<i class="fa txt-light" [class.fa-eye]="isPasswordShow" [class.fa-eye-slash]="!isPasswordShow"
						aria-hidden="true" (click)="isPasswordShow = !isPasswordShow"></i>
					<div *ngIf="registerForm.submitted && password.errors" class="invalid-feedback">
						<div *ngIf="password.errors['required']">Password is required</div>
						<div *ngIf="password.errors['minlength']">
							Password must be at least 4 characters
						</div>
						<div *ngIf="password.errors['maxlength']">
							Password must not exceed 40 characters
						</div>
					</div>
				</div>
				<div class="form-group ico">
					<label for="confirmPassword" class="form-label">Confirm Password <span
							class="txt-danger">*</span></label>
					<input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
						placeholder="****" [(ngModel)]="objVmRegister.ConfirmPassword" required
						#confirmPassword="ngModel"
						[ngClass]="{ 'is-invalid': registerForm.submitted && confirmPassword.errors }">
						<div *ngIf="registerForm.submitted && confirmPassword.errors" class="invalid-feedback">
							<div *ngIf="confirmPassword.errors['required']">
								Confirm Password is required
							</div>
							<div *ngIf="confirmPassword.errors['matching']">
								Confirm Password does not match
							</div>
						</div>
				</div>
				<button type="submit" class="secondary-theme-button w-100 mt-4 py-2"
					[disabled]="(dataService.isFormSubmitting | async)">Register</button>
			</form>
		</div>
	</div>
</div>