<div class="unit-body">
	<div class="table-headings d-flex align-items-center justify-content-between">
		<div class="table-search d-flex align-items-center gap-1">
			<i class='bx bx-search-alt mt-1'></i>
			<input type="text" class="form-control" name="searchUnit" #searchText placeholder="Search by name ..."
				(keyup)="searchUnit(searchText.value)">
		</div>
		<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->
		<button type="button" class="theme-button" (click)="createUnit()">+ Add New</button>
	</div>
	<div class="unit-table mt-1">
		<section class="table__body">
			<table>
				<thead>
					<tr>
						<th>SL.</th>
						<th>Unit Name</th>
						<th>Display Name</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let unit of lstUnit; let i = index">
						<td>{{i+1}}</td>
						<td>{{unit.UnitName}}</td>
						<td>{{unit.DisplayName ? unit.DisplayName : '-'}}</td>
						<td>
							<div class="badge" [class.inactive-badge]="unit.Status == 2"
								[class.active-badge]="unit.Status == 1">
								{{unit.Status == 1 ? 'Active' : 'Inactive'}}
							</div>
						</td>
						<td>
							<div class="d-flex align-items-center gap-3 justify-content-end">
								<button type="button" class="action-button edit" tooltip="Edit"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="editUnit(unit)">
									<i class='bx bxs-edit font-15'></i>
								</button>
								<button type="button" class="action-button delete" tooltip="Delete"
									containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
									(click)="deleteUnit(unit)">
									<i class='bx bx-trash font-15'></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<div class="table-row-count">
			<span class="txt-light font-11">Total Row:</span>
			{{totalCount}}
		</div>
	</div>
</div>


<!-- add & edit unit -->
<ng-template #unitFormModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">{{modalTitle}} Unit</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<form autocomplete="off" #unitForm="ngForm" (ngSubmit)="unitForm.form.valid && saveUnit()" novalidate>
		<div class="modal-body">
			<div class="form-group">
				<label for="unitName" class="form-label">Name <span class="txt-danger">*</span></label>
				<input type="text" name="unitName" id="unitName" class="form-control" [(ngModel)]="objUnit.UnitName"
					placeholder="Enter unit name" required #unitName="ngModel"
					[ngClass]="{ 'is-invalid': unitForm.submitted && unitName.errors }">
				<div *ngIf="unitName.errors && (unitName.dirty || unitForm.submitted) && unitName.invalid"
					class="invalid-feedback">
					<div *ngIf="unitName.errors['required']">Name is required</div>
				</div>
			</div>
			<div class="form-group mt-2">
				<label for="displayName" class="form-label">Display Name</label>
				<input type="text" name="displayName" id="displayName" class="form-control"
					[(ngModel)]="objUnit.DisplayName" placeholder="Enter display name (Kg, Pc, M etc)"
					#displayName="ngModel" [ngClass]="{ 'is-invalid': unitForm.submitted && displayName.errors }">
			</div>
			<div class="row mt-3">
				<div class="col-md-6">
					<div class="form-group">
						<label class="toggle">
							<input class="toggle__checkbox" hidden type="checkbox" (change)="toggleStatus($event)"
								[checked]="objUnit.Status == 1">
							<span class="toggle__switch"></span>
							<span class="toggle__label">{{(objUnit.Status == 1) ? 'Active' : 'Inactive'}}</span>
						</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="cancel-button" (click)="modalRef?.hide()">Cancel</button>
			<button type="submit" class="theme-button">{{buttonText}}</button>
		</div>
	</form>
</ng-template>

<!-- delete unit -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Unit</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this unit?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>