<div class="body-wrapper-card card">
	<div class="sales-body">
		<div class="table-headings d-flex align-items-center justify-content-between">
			<div class="table-search d-flex align-items-center gap-1">
				<i class='bx bx-search-alt mt-1'></i>
				<input type="text" class="form-control" name="searchSales" #searchText
					placeholder="Search by sales code ..." (keyup)="searchSales(searchText.value)">
			</div>
			<!-- <div class="d-flex align-items-center gap-2">
				<div class="filter-search role-filter">
					<select name="roleFilter" id="roleFilter">
						<option [value]="0">All</option>
						<option [value]="role.RoleID" *ngFor="let role of lstRole">{{role.RoleName}}</option>
					</select>
				</div>
				<div class="filter-search status-filter">
					<select name="statusFilter" id="statusFilter">
						<option [value]="0">All</option>
						<option [value]="1">Active</option>
						<option [value]="2">Inactive</option>
					</select>
				</div>
			</div> -->
			<button type="button" class="theme-button" (click)="addSales()">+ Add New</button>
		</div>
		<div class="sales-table mt-1">
			<section class="table__body">
				<table>
					<thead>
						<tr>
							<th>SL.</th>
							<th>Sales Date</th>
							<th>Sales Code</th>
							<th>Product</th>
							<th>Sales Status</th>
							<th>Customer</th>
							<th>Total</th>
							<th>Paid</th>
							<th>Due</th>
							<th>Payment Status</th>
							<th>Created By</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let sales of lstSales; let i = index">
							<td>{{i+1}}</td>
							<td>
								<div class="d-flex flex-column">
									<span>{{sales.SalesDate | date: 'dd/MM/yyyy'}}</span>
									<span class="txt-light">{{sales.SalesDate | date: 'hh:mm a'}}</span>
								</div>
							</td>
							<td>
								<div class="weight-600">
									{{sales.SalesCode}}
								</div>
							</td>
							<td>
								<div class="d-flex align-items-center gap-3">
									<span>{{sales.lstProduct.length}}</span>
									<div class="btn-group" dropdown container="body" #dropdownProduct="bs-dropdown"
										[insideClick]="true">
										<div dropdownToggle class="show-all-product" id="product"
											aria-controls="dropdown-basic">
											<i class='bx bx-detail font-17'></i>
										</div>
										<div id="dropdown-basic" *dropdownMenu class="dropdown-menu product-list-drop"
											aria-labelledby="product">
											<ul class="dropdown-ul">
												<li class="dropdown-item sales-product-item"
													*ngFor="let product of sales.lstProduct">
													<div class="d-flex gap-2">
														<img class="productImage" *ngIf="product.Image != ''"
															[src]="product.Image| SafeResourceUrl" alt="">
														<div class="d-flex flex-column">
															<div class="weight-600">{{product.ProductName}}</div>
															<div class="font-11">SKU: <span
																	class="txt-light">{{product.SKU}}</span>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- <div class="sales-product" *ngIf="sales.lstProduct.length > 0">
									<div class="sales-product-item" *ngFor="let product of sales.lstProduct">
										<div class="d-flex gap-2">
											<img class="productImage" *ngIf="product.Image != ''"
												[src]="product.Image| SafeResourceUrl" alt="">
											<div class="d-flex flex-column">
												<div class="weight-600">{{product.ProductName}}</div>
												<div class="font-11">SKU: <span class="txt-light">{{product.SKU}}</span>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</td>
							<td>{{sales.SalesStatus}}</td>
							<td [class.txt-primary]="sales.CustomerName == 'Walk-in'">
								{{sales.CustomerName}}
							</td>
							<td>{{sales.TotalSalesPrice | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>{{sales.PayAmount | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>{{sales.DueAmount | currency:'BDT':'symbol':'1.2-2':'bn-BD'}}</td>
							<td>
								<div class="badge" [class.danger-badge]="sales.PaymentStatus == 'Unpaid'"
									[class.success-badge]="sales.PaymentStatus == 'Paid'"
									[class.warning-badge]="sales.PaymentStatus == 'Partial'">
									{{sales.PaymentStatus}}
								</div>
							</td>
							<td>{{sales.CreatedByName}}</td>
							<td>
								<div class="d-flex align-items-center gap-2 justify-content-end">
									<button type="button" class="action-button view" tooltip="View"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="viewSales(sales.SalesCode)">
										<i class='bx bx-show-alt font-15'></i>
									</button>
									<button type="button" class="action-button edit" tooltip="Edit"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="editSales(sales.SalesCode)">
										<i class='bx bxs-edit font-15'></i>
									</button>
									<button type="button" class="action-button delete" tooltip="Delete"
										containerClass="tooltipClass" placement="top" [adaptivePosition]="false"
										(click)="deleteSales(sales)">
										<i class='bx bx-trash font-15'></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<div class="table-row-count">
				<span class="txt-light font-11">Total Row:</span>
				{{totalCount}}
			</div>
		</div>
	</div>
</div>


<!-- delete sales -->
<ng-template #deleteModal>
	<div class="modal-header">
		<div class="modal-title text-center font-15 weight-500">Delete Sales</div>
		<!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
		<span aria-hidden="true" class="visually-hidden">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<div class="text-center txt-danger">Are you sure to delete this sales?</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="cancel-button" (click)="modalRef?.hide()">No</button>
		<button type="button" class="danger-button" (click)="confirmDelete()">Yes</button>
	</div>
</ng-template>