.sidebar-container {
    /* position: fixed; */
    position: relative;
    height: 100vh;
    width: 250px;
    left: 0;
    top: 0;
    background: var(--theme-color);
    transition: width .3s;
}

.logo-section {
    height: 60px;
}

.logo-section img {
    display: block;
    width: 100%;
    padding: 10px 20px;
}

.menu-section a {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-section a.active {
    background: var(--secondary-theme-color);
}

.menu-section a span,
.menu-section a i {
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-section a:hover {
    transform: scale(.98);
}

.menu-section a:hover span,
.menu-section a:hover i {
    color: var(--secondary-theme-color);
}

.menu-section a.active span,
.menu-section a.active i {
    color: var(--theme-color);
}

.menu-section a span {
    font-size: var(--font-14);
    font-weight: var(--weight-500);
    color: var(--white-color);
    width: 100%;
}

.menu-section a i {
    color: var(--white-color);
    font-size: var(--font-20);
    font-weight: var(--weight-300);
}

.menu-section-footer {
    display: flex;
    justify-content: space-between;
    background: #0000002b;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.auth-section {
    padding: 10px 20px;
}

.auth-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4caf50;
    /* font-size: var(--font-18); */
    font-weight: var(--weight-700);
    color: var(--white-color);
    /* padding: 6px; */
    position: relative;
    flex: none;
}

.auth-icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-text p {
    color: var(--white-color);
    font-size: var(--font-13);
    font-weight: var(--weight-500);
    max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background: #0000002b;
}

.sidebar__togle-btn {
    position: absolute;
    top: 20px;
    right: -12px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    line-height: 0;
    border-radius: 3px;
    background: var(--white-color);
    box-shadow: 0 2px 5px #00000025;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar__togle-btn:hover {
    transform: scale(.96);
}

/* after toggle sidebar css  (start) */
:host.toggled-sidebar {
    & .sidebar-container {
        width: 60px;
    }

    & .menu-section a span,
    & .auth-text {
        display: none;
    }

    & .sidebar__togle-btn {
        transform: rotate(180deg);
    }

    & .auth-section {
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    & .logout-button {
        display: none;
        transition: all 0.3s ease;
    }

    & .menu-section-footer:hover .logout-button {
        display: block;
        background: #092a45;
        border-radius: 0 !important;
        border-top-right-radius: 20px !important;
    }

    & .logo-section img {
        padding: 13px 10px;
        z-index: 1000;
    }
}

/* after toggle sidebar css (end) */